* {
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

:root {
    --color1: #F7F7F7;
    --color2: #FFB22C;
    --color3: #854836;
    --color4: #000000;
}

.button-menu{
    display: flex;
    align-items: center;
}

#centangPesan[type=checkbox] {
    position: absolute;
    cursor: pointer;
    background: #fff;
    transform: scale(3);
    transform-origin: center;
    border: none;
    outline: none;
    accent-color: green;
}

#Total{
    width: 20%;
} 